* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}

body{
    background-color: #111;
}

#page1,#page2,#page3{
    height: 100vh;
    width: 100%;
}

#move{
    background-color: #D9FF06;
    padding: 1.5vw 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 2vw;
}

#marque{
    display: flex;
    align-items: center;
    gap: 2vw;
    transform: translateX(-100%);
}

#marque h1{
   font-size: 5vw; 
}

#marque img{
    height: 4vw;
}